@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

*{ 
    box-sizing:border-box;
    margin: 0;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.text{
    margin-left: 435px;
    font-size: 25px;
}

.image {
    margin-left: 750px;
    margin-top: 50px;
}

.image2 {
    margin-left: 950px;
    margin-top: -200px;
}

.text h2 {
    color: darkkhaki;
    margin-left: -350px;
    margin-top: -400px;
    font-size: 18px;
}


.text h3 {
    color: white;
    margin-left: -350px;
    margin-top: 20px;
    font-size: 14px;
}

.text h4 {
    color: white;
    margin-left: -540px;
    margin-top: 80px;
    font-size: 16px;
}

.image3 {
    margin-left: -240px;
    margin-top: 40px;
}

.image4 {
    margin-left: -240px;
    margin-top: 70px;
}

.image5 {
    margin-left: 100px;
    margin-top: -690px;
}

.image6 {
    margin-left: 100px;
    margin-top: 90px;
}

.image7 {
    margin-left: 440px;
    margin-top: -870px;
}

.image8 {
    margin-left: 440px;
    margin-top: 72px;
}
